@import 'partials/colors';
@import 'partials/paddings';
@import 'partials/mixin';
@import 'partials/reset';
@import 'partials/font';
@import 'partials/button';
li{
    list-style: none;
    color:$coloreTesto;
   font-size: 10px;
}
header, #titoloContainer{
    @include backgroundHero;
   padding-bottom: $padding20;
}

h3{
    font-size: 16px;
    font-weight: $bold;
}
h1{
    font-size: 45px;
    font-weight: $bold;
    line-height: 1;
    width: 300px;
}

p{
    color: $coloreTesto;
    line-height: 1.2;
    font-size: 12px;
}

img{
    border-radius: $border-radius;
    border: 1px solid $coloreTesto;
}
#imgMoved{
    position: relative;
    top:50px;
}

#imgsContainer{
    margin-top: 60px;
    margin-bottom: 60px;
}

.fade-in-element-down {
    
    animation: fadeInDown 1s ease-in-out forwards;
}
.fade-in-element-up {
    
    animation: fadeInUp 1s ease-in-out forwards;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}